/* Animaciones personalizadas */
.animate__animated {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate__fadeInLeft.scroll-in {
    opacity: 1;
    transform: translateX(0);
    animation-delay: 2s;
}

.animate__fadeInRight.scroll-in {
    opacity: 1;
    transform: translateX(0);
    animation-delay: 2s;
}

/* Posicionamiento inicial de las animaciones */
.principal_one_titles, .principal_one_buttons {
    transform: translateX(-50px);
}

.image_hero {
    transform: translateX(50px);
}



.about_me-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.about_me-container.in-view {
    opacity: 1;
    transform: translateY(0);
}


.about_me-img {
    transition: transform 0.5s ease-out;
}

.about_me-img.zoomed {
    transform: scale(1.1);
}
