:root{
    --rubik: 'Rubik', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --white: #ffffff;
    --light: #f8f9fa;
    --gray: #6c757d;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --dark: #1A202C;
    --ligth_purple: #f3f3ff;
    --lila: #eeeefc;
    --black: #21232E;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: var(--roboto);
    color: var(--dark);
    font-weight: 400;
    background: url(/assets/images/fondoss.jpg) repeat;
    background-color: var(--white);
    transition: all 0.3s ease;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#content {
    padding: 20px;
    text-align: center;
}
.header_left {
    display: flex;
    align-items: center;
}

.header_title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}


/* Clases para controlar la visibilidad */
.english { 
    display: none; 
}
.spanish { 
    display: block; 
}
